:root {
  --height-top-menu: 54px;
  --background-image: url(//i.imgur.com/2oiYCfE.jpg); }
body {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

@media screen and (max-width: 1023px) {
  body {
    background-image: var(--background-image) !important; } }
.l-top_menu-v2 {
  --top-menu-height: var(--height-top-menu);
  position: sticky;
  top: 0; }
  .l-top_menu-v2 .submenu {
    max-height: calc(100svh - var(--height-top-menu));
    overflow: initial;
    overflow-y: scroll; }
@media screen and (min-width: 1000px) {
  .l-page {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: .95; } }
.b-hot_topics-v2 {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap; }
  .b-hot_topics-v2 > * {
    min-width: max-content; }
.b-spoiler_block > span {
  width: 100%; }
  .b-spoiler_block > span:after {
    margin-left: auto; }
.p-profiles-show .profile-head .c-brief header {
  text-align: center; }

.p-profiles-show .profile-content .c-right .cc-2a {
  margin-bottom: 0px !important; }

.p-profiles-show .cc-friends {
  display: flex;
  overflow-x: scroll;
  height: 80px; }
  .p-profiles-show .cc-friends .b-user {
    min-width: 50px; }
    .p-profiles-show .cc-friends .b-user:not(:last-child):nth-child(6n) {
      margin-right: 10px; }
    .p-profiles-show .cc-friends .b-user:not(last-child) {
      margin-right: 10px; }
    .p-profiles-show .cc-friends .b-user.avatar a:after {
      content: attr(title);
      display: inline-block;
      width: 100%;
      line-height: 20px;
      font-size: .7rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .p-profiles-show .cc-friends .b-user.avatar img {
      width: 100%; }

@media (max-width: 767px) {
  .p-profiles-show .profile-head {
    display: flex;
    flex-direction: column; }
    .p-profiles-show .profile-head .c-history {
      display: block;
      width: 100%;
      margin: 0; }
      .p-profiles-show .profile-head .c-history.x3 {
        margin-bottom: 0 !important; }
      .p-profiles-show .profile-head .c-history > .subheadline:first-child {
        margin-bottom: 5px !important; }
      .p-profiles-show .profile-head .c-history > div:last-child {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 0; }
      .p-profiles-show .profile-head .c-history .entry {
        display: block;
        min-width: 100%;
        border: initial;
        scroll-snap-align: center;
        margin: 0 0 10px 5px;
        padding: 0; }
        .p-profiles-show .profile-head .c-history .entry:first-child {
          margin-top: 0; } }
