.l-top_menu-v2 {
  position: sticky;
  top: 0; }
  .l-top_menu-v2 .submenu {
    max-height: 100svh;
    overflow: initial;
    overflow-y: scroll; }
.b-hot_topics-v2 {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap; }
  .b-hot_topics-v2 > * {
    min-width: max-content; }
.b-spoiler_block > span {
  width: 100%; }
  .b-spoiler_block > span:after {
    margin-left: auto; }
.p-profiles .profile-head .c-brief header {
  text-align: center; }

.p-profiles .profile-content .c-right .cc-2a {
  margin-bottom: 0px !important; }

.p-profiles .cc-friends {
  display: flex;
  overflow-x: scroll;
  height: 80px; }
  .p-profiles .cc-friends .b-user {
    min-width: 50px;
    margin-right: 10px; }
    .p-profiles .cc-friends .b-user.avatar a:after {
      content: attr(title);
      display: inline-block;
      width: 100%;
      line-height: 20px;
      font-size: .7rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .p-profiles .cc-friends .b-user.avatar img {
      width: 100%; }

@media (max-width: 767px) {
  .p-profiles .profile-head {
    display: flex;
    flex-direction: column; }
    .p-profiles .profile-head .c-history {
      display: block;
      width: 100%;
      margin: 0; }
      .p-profiles .profile-head .c-history.x3 {
        margin-bottom: 0 !important; }
      .p-profiles .profile-head .c-history > .subheadline:first-child {
        margin-bottom: 5px !important; }
      .p-profiles .profile-head .c-history > div:last-child {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 0; }
      .p-profiles .profile-head .c-history .entry {
        display: block;
        min-width: 100%;
        border: initial;
        scroll-snap-align: center;
        margin: 0 0 10px 5px;
        padding: 0; }
        .p-profiles .profile-head .c-history .entry:first-child {
          margin-top: 0; } }
