.p-profiles-show
  .profile-head
    .c-brief header
      text-align: center 
      
      &.head
        .misc
          position: absolute

    .b-stats_bar .stat_names
      text-align: center

@media (max-width: 767px)
  .p-profiles-show .profile-head
    display: flex
    flex-direction: column

    .c-brief
      display: flex
      flex-direction: column
      text-align: center
      .avatar
        margin: 0 auto
        width: 160px
        height: 160px
        img
          height: 100%
          width: 100%
      h1.aliases:after
        position: absolute

      header.head
        display: flex
        flex-direction: column
        .misc
          position: static
    
    .c-mobile-actions
      text-align: center

    .c-history
      display: block
      width: 100%
      margin: 0
      margin-bottom: 0 !important

      >
        .subheadline:first-child
          margin-bottom: 5px !important

        div:last-child
          display: flex
          flex-direction: row
          overflow-x: scroll
          scroll-snap-type: x mandatory
          margin-bottom: 10px

          .entry
            display: block
            min-width: 100%
            border: initial
            scroll-snap-align: center
            margin: 0 0 0 5px
            padding: 0

            &:first-child
              margin-top: 0
