.p-profiles-show
  .profile-head
    .c-brief header
      text-align: center 
      
      &.head
        .misc
          position: absolute

@media (max-width: 767px)
  .p-profiles-show .profile-head
    display: flex
    flex-direction: column

    .c-brief
      .avatar
        margin-right: 0

      header.head
        display: flex
        flex-direction: column
        .misc
          position: static

    .c-history
      display: block
      width: 100%
      margin: 0

      &.x3
        margin-bottom: 0 !important

      >
        .subheadline:first-child
          margin-bottom: 5px !important

        div:last-child
          display: flex
          flex-direction: row
          overflow-x: scroll
          scroll-snap-type: x mandatory
          margin-bottom: 0

      .entry
        display: block
        min-width: 100%
        border: initial
        scroll-snap-align: center
        margin: 0 0 10px 5px
        padding: 0

        &:first-child
          margin-top: 0
